<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vs.schoolmessenger">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />


    <!-- Microphone -->
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>

    <!-- Location -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <!-- Biometrics -->
    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>

    <!-- Telephony -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <!-- SMS -->
    <uses-feature android:name="android.hardware.telephony.sms" android:required="false"/>

    <!-- Contacts -->
    <uses-feature android:name="android.hardware.contacts" android:required="false"/>

    <!-- Storage -->
    <uses-feature android:name="android.hardware.storage" android:required="false"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>



    <application
        android:name=".Auth.Base.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/school_app_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/school_app_logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.SchoolChimes"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <profileable android:shell="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
        </provider>

        <activity
            android:name=".Auth.Splash.Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/App.LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Utils.MySMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Parent.Noticeboard.Adapter.ReminderBroadcastReceiver" />

        <service
            android:name=".FCM.NotificationDismissService"
            android:exported="false" />

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZ5wb8hjNzcJv1roqNb09QFchIiELVSK4" />

        <receiver
            android:name=".FCM.DismissReceiver"
            android:exported="false"/>


        <activity
            android:name=".FCM.NotificationCallScreen"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.ExamMarks.ExamMarkResults"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.MarkYourAttendance.AddLocationActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ClassTest.Class.ClassActivity.ClassActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".School.ClassTest.Review.ReviewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".CommonScreens.SelectRecipient.RecipientActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Parent.QuizExam.AttendQuiz"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.QuizExam.SubmittedQuizPreview"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.QuizExam.QuizExamReport.AddQuestion"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Dashboard.Settings.WhatsNew.WhatsNewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.QuizExam.QuizExamReport.SubmitReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.QuizExam.QuizActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Assignment.MyAssignmentSubmission.Mysubmission"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Attachment.Attachment"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.AttendanceReportFromStaff.AttendanceReportFromStaff"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Assignment.MyAssignmentSubmission.MyAssignmentSubmit"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.QuizExam.Quiz"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.QuizExam.ExamQuiz"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.StudentReport.StudentReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.LSRW.MySubmissionView"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Auth.MobilePasswordSignIn.MobileNumber"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Auth.MobilePasswordSignIn.PassWord"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".School.LeaveRequests.LeaveRequests"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.RequestLeave.NewLeaveRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Parent.RequestLeave.OutPass"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.CertificateRequest.CertificateViewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.AbsenteesMarking.AbsenteesStudentMark"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LessonPlan.LessonPlanViewSummary.LessonPlanViewDetails"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LSRW.LsrwMain"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LSRW.CreateNewTask"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".CommonScreens.WebView"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LessonPlan.LessonPlanSummary.LessonPlan"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.LessonPlan.LessonPlanCreate.LessonPlanCreateActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Homework.HomeWorkCreate"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Parent.ParentDashboard"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Assignment.AssignmentCreate"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.SchoolStrength.SchoolStrength"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Auth.OTP.OTP"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Auth.CreateResetChangePassword.PasswordGeneration"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Auth.TermsConditions.TermsAndConditions"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Auth.MobilePasswordSignIn.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Auth.Introduction.Introduction"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.InteractionWithStudent.InteractionWithStudent"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.InteractionWithStaff.InteractionwithStaffChatScreen"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".School.InteractionWithStudent.InteractionWithStudentChatScreen"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Auth.Country.CountryScreen"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Settings.Notification.Notification"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Testing.MainActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Settings.ContactUs.ContactUs"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Settings.ReportTheBug.ReportTheBug"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Assignment.AssignmentStudentList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Assignment.AssignmentStudentListDetail"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Settings.RateUs.RateUs"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Settings.RateUs.RatingSuccess"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Dashboard.Settings.Faq.Faq"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".Parent.Homework.HomeWork"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.LessonPlan.LessonPlanEdit.LessonPlanEditActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Dashboard.School.SchoolDashboard"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Utils.VimeoVideoPlay"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.Communication.CommunicationSchool"
            android:configChanges="uiMode|keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".CommonScreens.SpecificStudent.SpecificStudent"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Event.CreateEvent"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LSRW.LsrwReportAndStatics"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ExamMarkUpload.ClassList.ClassList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <activity
            android:name=".School.ExamMarkUpload.ExamList.ExamList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ExamMarkUpload.UploadMarkSheet.UploadMarkSheet"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ExamMarkUpload.MapActivity.MapActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ExamMarkUpload.ReviewAndEditMarks.ReviewAndEditMarks"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".School.LSRW.CompletedTaskList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.NoticeBoard.CreateNoticeBoard"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.LSRW.ActiveTaskList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".CommonScreens.SchoolList.SchoolList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.RequestLeave.LeaveRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Noticeboard.NoticeBoard"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.CertificateRequest.CertificateRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".School.LSRW.SubmittedStudentListRemarkSubmit"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Coupon.CouponView.CouponDashboardActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Coupon.CouponView.MycouponViewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Coupon.CouponView.CouponActivateActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Coupon.CouponView.CouponOrderActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Dashboard.Parent.ExamMark"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.ExamTest.ExamTest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.FeeDetails.FeeDetails"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.FeeDetails.FeeReceiptViewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Communication.CommunicationParent"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.InteractionWithStaff.InteractionWithStaff"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.LSRW.LSRW"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.EventsHolidays.EventActivty.Event"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.PTM.PTM"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Dashboard.Combination.PrioritySelection"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Timetable.TimeTable"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Assignment.Assignment"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Attendance.Attendance"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.EventsHolidays.HolidayActivity.Holidays"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.EBooks.Ebooks"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.Attendance.AttendanceReport.AttendanceReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.MessageFromManagement.MessageFromManagement"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.AbsenteesMarking.AttendanceMark"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.PTM.Activity.PTM"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.SchoolNeeds.SchoolNeeds"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ImportantInfo.ImportantInfo"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.AbsenteesReport.AbsenteesReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.DailyCollection.DailyCollection"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.FeePendingReport.FeePendingReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.AbsenteesReport.AbsenteesStudents"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.MarkYourAttendance.MarkYourAttendance"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.StaffWiseAttendanceReport.StaffWiseAttendanceReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Attachment.Attachment"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".CommonScreens.FilesViewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.Homework.HomeWorkAdapter.ChildHomeWork"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.PTM.Activity.StaffSlotDetails"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.PTM.Activity.CreateSlots"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.Assignment.AssignmentReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.Homework.HomeworkReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.NoticeBoard.NoticeBoardReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.Event.EventReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".School.Attachment.AttachmentReport"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".School.StudentDetails.StudentDetails"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name=".School.ApproveStaffLeaveRequest.ApproveStaffLeaveRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.ApproveStaffLeaveRequest.PreviewStaffLeaveRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.StaffLeaveRequest.StaffLeaveRequest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.StaffLeaveRequest.StaffLeaveHistory"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Hostel.SchoolHostelDashboard"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".School.Hostel.HostelList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ClassTest.Standard.StandardActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ExamReview.Activity.ExamStandardActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ExamReview.Activity.ExamAnalysisActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.ParentClassTestExamAnalysis.ParentExamAnalysis.ParentExamAnalysisActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.ParentClassTestExamAnalysis.ParentExamselection.ParentSelectExamActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ExamReview.Activity.SelectExamActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />



        <activity
            android:name=".School.ClassTest.Section.SectionActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".School.ClassTest.Subject.ActivityClass.SubjectActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Parent.Hostel.ParentHostelDashboard"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Hostel.ParentOutpassrequestList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Parent.Hostel.ParentHostelOutpassApply"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Parent.BusTracking.BusList"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Parent.BusTracking.LiveBusTracking"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Parent.ClassTestMark.Activity.ClassTest"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Parent.ClassTestMark.Activity.MarksReportActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".School.ClassTest.Report.ExamMarksEnterActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".School.ClassTest.Report.ExamReportActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".School.ClassTest.UploadMarks.ClassUploadMarks"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Parent.ExamMarks.ExamTimeTableViewDetails.ExamTimeTableViewDetails"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Parent.RaiseConcern.RaiseConcernActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".School.SchoolRaiseConcern.SchoolRaiseConcernActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".School.SchoolRaiseConcern.ActionTakenActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>