<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        tools:node="replace" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/school_chimes_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/school_chimes_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolChimes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Dashboard.Combination.RoleSelection"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".School.StudentReport.StudentReport"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.LeaveRequests.LeaveRequests"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Parent.Assignment.AssignmentFilePicking"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".School.AbsenteesMarking.AbsenteesStudentMark"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.OnlineMeeting.OnlineMeeting"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.LessonPlan.LessonPlanViewDetails"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.ExamSchedule.ExamSubjectList"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".CommonScreens.WebView"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>
        <activity
            android:name=".School.ExamSchedule.Exam"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.LessonPlan.LessonPlan"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.Homework.HomeWork"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Auth.Country.CountryScreen"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.Assignment.Assignment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".School.SchoolStrength.SchoolStrength"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Auth.OTP.OTP"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Auth.CreateResetChangePassword.PasswordGeneration"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".Auth.TermsConditions.TermsAndConditions"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Auth.MobilePasswordSignIn.Login"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".Auth.Introduction.Introduction"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.InteractionWithStudent.InteractionWithStudent"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Dashboard.Parent.Dashboard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Dashboard.Settings.Notification.Notification"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Dashboard.Settings.ContactUs.ContactUs"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Parent.Video.ParentVideo"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>
        <activity
            android:name=".School.ImagePDF.ImagePdf"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Dashboard.Settings.ReportTheBug.ReportTheBug"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Dashboard.Settings.RateUs.RateUs"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".AlbumImage.AlbumSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".AlbumImage.ImageSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".AlbumImage.HelperActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".Dashboard.Settings.RateUs.RatingSuccess"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".Dashboard.Settings.Faq.Faq"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".Testing.AutoScrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity


            android:name=".Parent.Homework.HomeWork"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity

            android:name=".Dashboard.School.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Utils.VimeoVideoPlay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity

            android:name=".School.Communication.CommunicationSchool"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".CommonScreens.SpecificStudent"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.Event.CreateEvent"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>

        <activity
            android:name=".School.NoticeBoard.CreateNoticeBoard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.Video.CreateVideo"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>

        <activity
            android:name=".CommonScreens.ImageViewActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>

        <activity
            android:name=".CommonScreens.SchoolList"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>

        <activity
            android:name=".Parent.RequestLeave.LeaveRequest"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
            android:name=".Parent.Noticeboard.NoticeBoard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Parent.CertificateRequest.CertificateRequest"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Parent.ImagesOrPdf.ImageOrPdf"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".Dashboard.Parent.ExamMark"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Parent.ExamTest.ExamTest"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Parent.FeeDetails.FeeDetails"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity

            android:name=".Parent.Communication.Communication"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.InteractionWithStaff.InteractionWithStaff"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.LSRW.LSRW"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.EventsHolidays.Event"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.OnlineMeeting.OnlineMeeting"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.PTM.PTM"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.QuizExam.Quiz"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".Auth.Splash.Splash"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Parent.Timetable.TimeTable"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity

            android:name=".Parent.Assignment.Assignment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity

            android:name=".Parent.Attendance.AttendanceReport"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".Testing.CouponClass"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.MessageFromManagement.MessageFromManagement"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.AbsenteesMarking.AttendanceMark"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.PTM.PTM"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.SchoolNeeds.SchoolNeeds"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>


        <activity
            android:name=".School.ImportantInfo.ImportantInfo"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.AbsenteesReport.AbsenteesReport"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.DailyCollection.DailyCollection"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>
        <activity
            android:name=".School.FeePendingReport.FeePendingReport"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".School.MarkYourAttendance.MarkYourAttendance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <activity
            android:name=".School.StaffWiseAttendanceReport.StaffWiseAttendanceReport"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

    </application>
</manifest>